openapi: 3.0.3
info:
  title: GitHub API Documentation Portfolio
  description: |
    OpenAPI specification for my technical writer portfolio.
    The documentation is based on real requests to GitHub API.
  version: 1.0.0
  contact:
    name: Alexander Subbotin
    url: https://github.com/alivieskan25-blip
servers:
  - url: https://api.github.com
    description: Production server GitHub API
paths:
  /users/{username}:
    get:
      summary: Get user information
      description: Returns public information about a GitHub user
      operationId: getUserByUsername
      tags:
        - Users
      parameters:
        - name: username
          in: path
          required: true
          description: GitHub user login (e.g., "defunkt")
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "403":
          description: Rate limit exceeded (use a token)
        "404":
          description: User not found

  /users/{username}/repos:
    get:
      summary: Get list of public repositories
      description: Returns a list of public repositories for the specified user
      operationId: listUserRepos
      tags:
        - Repositories
      parameters:
        - name: username
          in: path
          required: true
          description: GitHub user login
          schema:
            type: string
        - name: per_page
          in: query
          description: Number of results per page(max 100)
          schema:
            type: integer
            default: 30
            maximum: 100
        - name: page
          in: query
          description: Page number of the results to fetch.
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response. An array of repositories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "403":
          description: Forbidden. Rate limit exceeded or bad token.
        "404":
          description: Not Found. User not found.

  /users/{username}/starred:
    get:
      summary: Get repositories starred by user
      description: Returns a list of repositories starred by the specified user
      operationId: listUserStarred
      tags:
        - Activity
      parameters:
        - name: username
          in: path
          required: true
          description: GitHub user login
          schema:
            type: string
        - name: sort
          in: query
          description: The property to sort the results by
          schema:
            type: string
            enum: [created, updated]
            default: created
        - name: direction
          in: query
          description: The direction to sort the results by
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          description: Number of results per page (max 100)
          schema:
            type: integer
            default: 30
            maximum: 100
        - name: page
          in: query
          description: Page number of the results to fetch
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response. An array of repositories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "304":
          description: Not modified
        "401":
          description: Unauthorized (invalid token)
        "403":
          description: Forbidden. Rate limit exceeded
        "404":
          description: Not found. User not found

  /repos/{owner}/{repo}/contributors:
    get:
      summary: List repository contributors
      description: |
        Lists contributors to the specified repository.
        Results are sorted by the number of commits per contributor in descending order.
        This endpoint caches the response for performance reasons.
      operationId: listRepoContributors
      tags:
        - Repositories
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: anon
          in: query
          description: Set to `true` to include anonymous contributors
          schema:
            type: string
            enum: [true, false]
            default: false
        - name: per_page
          in: query
          description: Results per page (max 100)
          schema:
            type: integer
            default: 30
            maximum: 100
        - name: page
          in: query
          description: Page number of the results to fetch
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response. Returns an array of contributors.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Contributor"
        "401":
          description: Unauthorized — token missing or invalid
        "403":
          description: Forbidden — rate limit exceeded
        "404":
          description: Not Found — repository does not exist
        "422":
          description: Validation failed — invalid parameters

  /repos/{owner}/{repo}/commits:
    get:
      summary: List repository commits
      description: |
        Returns a list of commits for the specified repository.
        Results are sorted by commit date in descending order.
      operationId: listRepoCommits
      tags:
        - Repositories
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: per_page
          in: query
          description: Results per page (max 100)
          schema:
            type: integer
            default: 30
            maximum: 100
        - name: page
          in: query
          description: Page number of the results to fetch
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response. Returns an array of commits
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Commit"
        "403":
          description: Forbidden — rate limit exceeded
        "404":
          description: Not Found — repository does not exist
  /repos/{owner}/{repo}/issues:
    get:
      summary: List repository issues
      description: |
        Lists issues in a repository.
        By default, returns open issues. Use the `state` parameter to filter.
      operationId: listRepoIssues
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          description: The account owner of the repository
          schema:
            type: string
        - name: repo
          in: path
          required: true
          description: The name of the repository
          schema:
            type: string
        - name: state
          in: query
          description: State of the issues to return
          schema:
            type: string
            enum: [open, closed, all]
            default: open
        - name: labels
          in: query
          description: List of label names
          schema:
            type: string
        - name: since
          in: query
          description: Only issues updated after this date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: What to sort results by
          schema:
            type: string
            enum: [created, updated, comments]
            default: created
        - name: direction
          in: query
          description: Sort direction
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          description: Results per page
          schema:
            type: integer
            default: 30
            maximum: 100
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response.Returns an array of issues.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Issue"
        "301":
          description: Moved permanently — the repository has been renamed or moved
        "304":
          description: Not modified
        "403":
          description: Forbidden — rate limit exceeded
        "404":
          description: Not Found — repository does not exist
        "422":
          description: Validation failed or the endpoint has been spammed
  /user/repos:
    get:
      summary: List repositories for the authenticated user
      description: |
        Lists repositories that the authenticated user has explicit permission.
      operationId: listAuthenticatedUserRepos
      tags:
        - Repositories
      parameters:
        - name: visibility
          in: query
          description: Repository visibility
          schema:
            type: string
            enum: [all, public, private]
            default: all
        - name: affiliation
          in: query
          description: Comma-separated list of affiliations
          schema:
            type: string
            enum:
              - owner
              - collaborator
              - organization_member
              - owner,collaborator
              - owner,organization_member
              - collaborator,organization_member
              - owner,collaborator,organization_member
            default: owner,collaborator,organization_member
        - name: type
          in: query
          description: Limit results to repositories of the specified type
          schema:
            type: string
            enum: [all, owner, public, private, member]
            default: all
        - name: sort
          in: query
          description: The property to sort the results by
          schema:
            type: string
            enum: [created, updated, pushed, full_name]
            default: full_name
        - name: direction
          in: query
          description: |
            The order to sort by
            Use `asc` for ascending order (oldest first, or A to Z).
            Use `desc` for descending order (newest first, or Z to A).
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          description: Results per page
          schema:
            type: integer
            default: 30
            maximum: 100
        - name: page
          in: query
          description: The page number of the results to fetch
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Successful response.Returns an array of repository objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "304":
          description: Not modified
        "401":
          description: Unauthorized — token missing or invalid
        "403":
          description: Forbidden — token lacks required scopes
        "422":
          description: Validation failed

components:
  schemas:
    Repository:
      type: object
      properties:
        id:
          type: integer
          description: Unique repository identifier.
          example: 1861402
        name:
          type: string
          description: Repository name.
          example: "ace"
        full_name:
          type: string
          description: Full repository name (owner/name).
          example: "defunkt/ace"
        private:
          type: boolean
          description: Whether the repository is private.
          example: false
        html_url:
          type: string
          description: URL to the repository on GitHub.
          example: "https://github.com/defunkt/ace"
        description:
          type: string
          nullable: true
          description: Repository description.
          example: "Ajax.org Cloud9 Editor"
        fork:
          type: boolean
          description: Whether this is a forked repository.
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation date (ISO 8601).
          example: "2011-06-07T18:41:40Z"
        updated_at:
          type: string
          format: date-time
          description: Last update date.
          example: "2025-07-16T04:14:55Z"
        stargazers_count:
          type: integer
          description: Number of stars.
          example: 16
        language:
          type: string
          nullable: true
          description: Primary programming language.
          example: "JavaScript"
        forks_count:
          type: integer
          description: Number of forks.
          example: 7
        open_issues_count:
          type: integer
          description: Number of open issues.
          example: 0
    User:
      type: object
      properties:
        login:
          type: string
          description: User login
          example: "defunkt"
        id:
          type: integer
          description: User ID
          example: 2
        name:
          type: string
          nullable: true
          description: User's full name
          example: "Chris Wanstrath"
        company:
          type: string
          nullable: true
          description: User's company
          example: "GitHub"
        blog:
          type: string
          description: Personal blog URL
          example: "http://chriswanstrath.com/"
        location:
          type: string
          nullable: true
          description: User location
        email:
          type: string
          format: email
          nullable: true
          description: Public email
        bio:
          type: string
          nullable: true
          description: Short biography
        public_repos:
          type: integer
          description: Number of public repositories
          example: 107
        followers:
          type: integer
          description: Number of followers
          example: 22629
        following:
          type: integer
          description: Number of users followed
          example: 215
        created_at:
          type: string
          format: date-time
          description: Account creation date
          example: "2007-10-20T05:24:19Z"
        updated_at:
          type: string
          format: date-time
          description: Profile last update date
          example: "2025-08-08T19:18:26Z"
    Contributor:
      description: A GitHub user who contributed to a repository
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          properties:
            contributions:
              type: integer
              description: Number of commits made by this contributor
              example: 47831
          required:
            - contributions
    Commit:
      type: object
      properties:
        sha:
          type: string
          description: The SHA hash of the commit
          example: "6fdb28556235107f40242345b1b3a9313a736cc2"
        url:
          type: string
          description: API URL of the commit
          example: "https://api.github.com/repos/defunkt/ace/commits/6fdb28556235107f40242345b1b3a9313a736cc2"
        html_url:
          type: string
          description: HTML URL to view the commit on GitHub
          example: "https://github.com/defunkt/ace/commit/6fdb28556235107f40242345b1b3a9313a736cc2"
        commit:
          type: object
          description: Detailed commit information
          properties:
            author:
              type: object
              properties:
                name:
                  type: string
                  description: Author's name
                  example: "Fabian Jakobs"
                email:
                  type: string
                  format: email
                  description: Author's email
                  example: "fabian.jakobs@web.de"
                date:
                  type: string
                  format: date-time
                  description: Commit date
                  example: "2011-09-06T16:15:17Z"
            committer:
              type: object
              properties:
                name:
                  type: string
                  description: Committer's name
                  example: "Fabian Jakobs"
                email:
                  type: string
                  format: email
                  description: Committer's email
                  example: "fabian.jakobs@web.de"
                date:
                  type: string
                  format: date-time
                  description: Commit date
                  example: "2011-09-06T16:15:17Z"
            message:
              type: string
              description: Commit message
              example: "jslint fixes"
            comment_count:
              type: integer
              description: Number of comments on this commit
              example: 0
        author:
          $ref: "#/components/schemas/User"
        committer:
          $ref: "#/components/schemas/User"
        parents:
          type: array
          description: Array of parent commits
          items:
            type: object
            properties:
              sha:
                type: string
                description: SHA of the parent commit
                example: "a0051237b66a1312f31e6b56cb29f12b20c38527"
              url:
                type: string
                description: API URL of the parent commit
                example: "https://api.github.com/repos/defunkt/ace/commits/a0051237b66a1312f31e6b56cb29f12b20c38527"
    Issue:
      type: object
      properties:
        id:
          type: integer
          description: Unique issue identifier
          example: 1
        number:
          type: integer
          description: Issue number in the repository
          example: 1
        title:
          type: string
          description: Issue title
          example: "Found a bug"
        state:
          type: string
          description: Issue state
          enum: [open, closed]
          example: "open"
        user:
          $ref: "#/components/schemas/User"
        labels:
          type: array
          description: List of issue's labels
          items:
            type: object
            properties:
              name:
                type: string
                description: Label name
                example: "bug"
              color:
                type: string
                description: Label color in hex
                example: "d73a4a"
        created_at:
          type: string
          format: date-time
          description: Issue creation date
          example: "2026-03-01T12:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update date
          example: "2026-03-28T14:30:00Z"
        closed_at:
          type: string
          format: date-time
          nullable: true
          description: Closing date (null if open)
          example: null
        body:
          type: string
          description: Issue description
          example: "When I click the button, nothing happens."
      required:
        - id
        - number
        - title
        - state
        - user
